{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/autocraftingtable_header.png",
      "fileBody" : "/interface/objectcrafting/autocraftingtable_background.png",
      "fileFooter" : "/interface/objectcrafting/autocraftingtable_footer.png"
    },
	"close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [188, 125]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [90, 40],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
	  "slotOffset" : 3,
      "position" : [130, 40],
      "dimensions" : [3, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "^#159753;Auto Crafting^reset;",
      "hAnchor" : "mid",
      "position" : [40, 37]
    },
	 "InfoBottom" : {
      "type" : "label",
      "value" : "Crafting table with customizable recipes §",
      "hAnchor" : "mid",
	  "vAnchor" : "bottom",
      "position" : [102, 8]
    },
    "count" : {
      "type" : "label",
      "value" : "Input",
      "hAnchor" : "mid",
      "position" : [100, 109]
    },
    "countoutput" : {
      "type" : "label",
      "value" : "Output",
      "hAnchor" : "mid",
      "position" : [160, 109]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/autocraftingtable_shine.png",
      "position" : [0, 0]
    }
  }
}
